@import "tailwindcss";

@import url('https://fonts.googleapis.com/css2?family=McLaren&display=swap');


/* Custom utility class */
.mclaren-font {
  font-family: 'McLaren', sans-serif;
}


.avatar-glow::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 300px; /* Adjust size as needed */
  height: 300px;
  background: radial-gradient(
    circle,
    rgba(255, 255, 255, 1) 18%,
    rgba(67, 67, 67, 0) 100%
  );
  z-index: -1;
  border-radius: 50%;
  filter: blur(40px);
}

.bg-radial-purple {
  background-image: radial-gradient(rgba(122, 95, 241, 0.5), black);
}

@layer base {
  ::-webkit-scrollbar {
    display: none;
  }
}

html {
  scroll-behavior: smooth;
}

@media (prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: auto;
  }
}